body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.container {
    width: 90%;
}

#center-logo {
    margin-top: 40px;
}

#login-heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

#login-card {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    border: 1px solid #EEE;
}

.input-field input[type=email]:focus + label,
.input-field input[type="password"]:focus + label {
    color: indigo;
}

.input-field input[type=email]:focus,
.input-field input[type="password"]:focus {
    border-bottom: 2px solid indigo;
    box-shadow: none;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
