{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="description" content="django-iitg-auth">
    <title>Home</title>
    <link href="{% static 'icons/material-icons.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Demo Project</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>

                    <a href="#" data-activates="mobile-nav" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="side-nav" id="mobile-nav">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="section">
                        <h4 class="header">Home</h4>
                        <div class="divider"></div>
                        <h5>You are logged in as {{user}}.</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script>
        $(".button-collapse").sideNav();
    </script>
</body>
</html>